<h1>Register</h1>
<p style="color: red"><%= errors %></p>
<form action="/api/user/register" method="post" autocomplete="off">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name"/>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </div>
    <input type="submit" value="register">
</form>
<a href="/api/user/login">Login</a>